<VirtualHost *:80>
  ServerName {{ servername }}
  DocumentRoot {{ documentroot }}
{% if serveradmin is defined %}
  ServerAdmin {{ serveradmin }}
{% endif %}
  <Directory "{{ documentroot }}">
    AllowOverride All
    Options -Indexes -FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>

